//
   Created with IntelliJ IDEA.
   User: Stephen Wille
   Date: 08-12-2013
   Time: 1:20 PM
   To change this template use File | Settings | File Templates.

extends layout

block content
    h1 Please login.

    form(method="POST", action="/login/authUser")
        p
            label(for="username") Username<br/>
            input#username(name="username")
        p
            label(for="password") Password<br/>
            input#password(name="password")
        p
            input(type="submit", value="Login")

    hr
    h1 Create user.
    form(method="POST", action="/login/createUser")
        p
            label(for="username") Username<br/>
            input#username(name="username")
        p
            label(for="password") Password<br/>
            input#password(name="password")

        br
        p
            label(for="name") name<br/>
            input#name(name="name")

        p
            label(for="email") email<br/>
            input#email(name="email")
        p
            label(for="gender") gender<br/>
            input#gender(name="gender")
        p
            label(for="birthday") birthday<br/>
            input#birthday(name="birthday")
        p
            label(for="bio") bio<br/>
            textarea#bio(name="bio")

        br
        p
            input(type="submit", value="Login")